<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="topic"
      id="spell_checking">

<info>
  <link type="guide" xref="index" />
</info>

<title>Spell Checking</title>

<synopsis>
  <p>The purpose is to correct spelling mistakes easily.</p>
</synopsis>

<section id="use">
  <title>Use the spell checking</title>
  <p>
    The default spell checking settings can be changed in the preferences dialog:
    <guiseq>
      <gui style="menu">Edit</gui>
      <gui style="menu">Preferences</gui>
      <gui style="tab">Other</gui>
    </guiseq>
  </p>

  <p>
    The settings can also be changed on a file-by-file basis via the
    <gui style="menu">Tools</gui> menu.
  </p>

  <p>
    If you activate the <gui style="menu">Highlight Misspelled Words</gui>
    option, the misspelled words will be underlined in red in the document. A
    right click on a misspelled word will show proposals.
  </p>
</section>

<section id="dictionaries">
  <title>Dictionaries</title>
  <p>
    <link href="http://www.abisource.com/projects/enchant/">Enchant</link>
    is used for the spell checking in GNOME LaTeX. Enchant uses one or several
    backends such as Hunspell or Aspell for the dictionaries.
  </p>

  <p>
    If your language is not listed, install a dictionary for one of the
    supported backends.
  </p>
</section>
</page>
